.card.my-3
  .card-body
    %h5.card-title= name
    = form_fields_form.input :field_kind, as: :hidden
    = form_fields_form.input :question
    = form_fields_form.input :description
    .card.my-3
      .card-body
        %h5.card-title Options
        - form_fields_form.object.form_field_options.each do |form_field_option|
          %ul.list-group
            = form_fields_form.simple_fields_for :form_field_options, form_field_option do |form_field_options_form|
              %li.list-group-item.mt-2
                = form_field_options_form.input :name, label: "Option"
        = form_fields_form.input :new_option, label: "Enter New #{name} Option", class: "mt-3"
        = form_fields_form.submit "Add #{name} Option", class: "btn btn-primary mb-3"
    = form_fields_form.input :order
    = form_fields_form.input :required