.card.my-3
  .card-body
    %h5.card-title= name
    = form_fields_form.input :field_kind, as: :hidden
    = form_fields_form.input :question
    = form_fields_form.input :description
    .card.my-3
      .card-body
        %h5.card-title Options
        .form_field_options{ data: { controller: "nested-form" } }
          = render partial: "form_fields/option_template", locals: { form_fields_form: form_fields_form }
          %input.d-none{ value: "option", data: { nested_form_target: "association" }, disabled: true }
          %ul.list-group{ data: { nested_form_target: "insertElement" } }
            - form_fields_form.object.form_field_options.each do |form_field_option|
              = form_fields_form.simple_fields_for :form_field_options, form_field_option do |form_field_options_form|
                %li.list-group-item.mt-2
                  = form_field_options_form.input :name, label: "Option"
          = link_to "Add #{name} Option", "#", class: "btn btn-primary mt-3", data: { action: "click->nested-form#addAssociation" }

    = form_fields_form.input :position
    = form_fields_form.input :required