.card.my-3
  .card-body
    %h5.card-title= name
    = form_fields_form.input :field_kind, as: :hidden
    = form_fields_form.input :question
    = form_fields_form.input :description
    = form_fields_form.input :position
    = form_fields_form.input :required