%h2= "#{@name} successfully began an autopayment plan with your daycare!"
%p
  Their payment method will be charged #{number_to_currency(@stripe_price.amount)} every #{@stripe_price.recurring["interval_count"] if @stripe_price.recurring["interval_count"].to_i > 1} #{@stripe_price.recurring["interval"].pluralize(@stripe_price.recurring["interval_count"].to_i)}
!= link_to "Sign In",  %i[new user session]
