- action_text = @form.persisted? ? "Edit Form" : "Add Form"
.container
  %h1= action_text
  = simple_form_for([@daycare, @form]) do |f|
    = f.input :title
    = f.input :description
    - @form.form_fields.each do |form_field|
      = f.simple_fields_for :form_fields, form_field do |form_fields_form|
        = render partial: "form_fields/form", locals: { form_fields_form: form_fields_form }
    = f.select(:new_form_field_kind, FormField.field_kind_attributes_for_select, include_blank: true)
    = f.submit "Add Form Field", class: "btn btn-primary mt-3"
    = f.input :published_to_daycare, as: :boolean, hint: " Allow all parents to view this form"
    = f.association :users, collection: current_user.owned_daycare.users, prompt: "Share To Parents"
    = f.submit "Save", class: "btn btn-primary mt-3"
  = link_to "Delete", [@daycare, @form], method: :delete, class: "btn btn-danger text-light mt-5", data: { confirm: "Are you sure?"} if @form.persisted?
